<div class="container-fluid review" fxLayout="column">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let journal of journalArticles;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{journal.journal.title}} ({{journal.articles.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="journal.articles && journal.articles.length >0">In pending articles:</div>
      <mat-card class="" *ngFor="let article of journal.articles;">
        <mat-card-header>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>Created date: {{article.deadline |  date:'MM/dd/yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{article.abstract}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="downloadFile(article.filePath)">Download pdf</button>
          <button mat-button (click)="approveArticle(article, journal.journal)">Approve</button>
          <button mat-button (click)="rejectArticle(article)">Reject</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

</div>
