<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="30%" fxLayout="column">
    <mat-form-field>
      <input matInput class="register-input" type="email" placeholder="Email address" [(ngModel)]="email"/><br/>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="register-input" type="password" placeholder="Password" [(ngModel)]="password"/><br/>
    </mat-form-field>
    <div fxLayout="row">
      <div>
        <mat-checkbox color="primary" style="line-height: 43px;">Remember me</mat-checkbox>
      </div>
      <span fxFlex></span>
      <div>
        <a mat-button class="forget-link" href=""><b>Forgot password?</b></a>
      </div>
    </div>
    <div style="text-align: end">{{loginMessage}}</div>
    <div class="row" fxLayoutAlign="center center">
      <button color="primary" mat-button (click)="loginClick()">Login</button>
    </div>
  </div>

</div>
