.topLoginPage {
  background-size: cover;
  background-position: center;
}

.appl {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  font-size: 19pt;
  text-align: center;
}

.login {
  width: 100%;
  text-align: center;
}

.register-input {
  border: none;
  outline: 0;
  padding: 5px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #bdd979;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #3A3A3A;
  font-weight: bold;
}

.forgot {
  color: #3A3A3A;
  text-decoration: none;
}

.forgot:hover {
  color: #3A3A3A;
  text-decoration: none;
}

#thick {
  color: white;
  text-decoration: none;
}

#thick:hover {
  color: white;
  text-decoration: none;
}

.register-container {
  text-align: center;
}

#thick1 {
  outline: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 25pt;
  cursor: pointer;
}

.bottomLoginPage {
  background-color: #bdd979;
}

.wirtekLogo {
  padding: 1%;
  width: 7%;
  height: 7%;
}

.bottomText {
  color: #3A3A3A;
  font-size: 130%;
}

nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li > a:hover {
  color: #3A3A3A;
  background-color: transparent;
  font-size: 18pt;
}

#list {
  width: 40%;
  height: 40%;
}

#wirtek-icon {
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 15px;
}

.about {
  font-size: 14pt;
}

#about, #contact {
  color: #3A3A3A;
  text-decoration: none;
}
